<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1 class="text-center">Create Your Profile</h1>
		<p class="text-center">Fill in your profile to get started.</p>
		<div class="well">
			<%= render 'form' %>
		</div>
	</div>
</div>