<div class="container">
	<div class="row">
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
		<h1>Artists Index</h1>
			<ul>
				<li>
					<% @artists.each do |artist| %>
					<%= image_tag artist.profile.avatar.url(:thumb) %>
						<h2><%= link_to artist.username, artist_path(artist) %></h2>
					<% end %>	
				</li>
			</ul>
		</div>
	</div>
</div>

