<div class="row">
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<!-- insert avatar image for release -->
	</div>
	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-md-1-offset">
		<h1><%= @release.artist.artist_name %></h1>
		<h4><%= @release.title %></h4>
	</div>
</div>
